// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2024 Igor Belwon
 */

/dts-v1/;

#include "mt6878.dtsi"

/ {
	#address-cells = <1>;
	#size-cells = <1>;

    model = "CMF by Nothing Phone 1";
    compatible = "nothing,tetris", "mediatek,mt6878";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x10000000>;
	};
};
